<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Grid Images</title>
  <link rel="stylesheet" type="text/css" href="../../css/style.css">
</head>
<body>

  <header>
    <h1>Nature Gallery</h1>
  </header>

  <div class="container">
    <img src="images/img1.jpg"  class="img1">
    <img src="images/img2.jpeg"  class="img2">
    <img src="images/img3.jpeg"  class="img3">
    <img src="images/img4.jpeg"  class="img4">
    <img src="images/img5.jpeg"  class="img5">
    <img src="images/img6.jpeg"  class="img6">
    <img src="images/img7.jpeg"  class="img7">
    <img src="images/img8.jpeg"  class="img8">
    <img src="images/img9.jpeg"  class="img9">
  </div>  
  
<script src="../../js/code.js"></script>
</body>
</html>