@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
  box-sizing: border-box;
}

body, html {
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, #3c3b3f, #605c3c); 
  font-family: 'Poppins';
}

body {
  height: 100%;
}

h1 {
  color: #fff;
  text-align: center;
  letter-spacing: 20px;
  text-transform: uppercase;
  font-weight: lighter;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 200px) ;
  grid-gap: 10px;
  margin: 10px;
}

img {
  height: 100%;
  width: 100%;
}

.img1 {
  grid-column: span 2;
  grid-row: span 2;
}

@media screen and (max-width: 700px) {
  .container {
    display: grid;
    grid-template-columns: 200px;
    grid-template-rows: repeat(8, 200px);
  }
  .img1 {
    grid-row: span 2;
  }

  h1 {
    font-size: 12px;
    font-weight: lighter;
  }

}
img {
  height: 100%;
  width: 100%;
}
img:hover {
  opacity: .5;
}

.glow {
  outline: none;
  border-color: goldenrod;
  border: 2px solid goldenrod;
  box-shadow: 0 0 10px goldenrod;
}

